[submodule "common"]
	path = common
	url = https://nulab.backlog.jp/git/BLGMIGRATION/backlog-migration-common.git
[submodule "importer"]
	path = importer
	url = https://nulab.backlog.jp/git/BLGMIGRATION/backlog-importer.git
